.budget-wrap{
  width: 100%;
}
.budget{
  width: 1220px;
  margin: 0 auto;
  padding: 40px 0;
}
@keyframes budget_animate{
  0% {transform: scale(.5, .5)}
  100% {transform: scale(1, 1);}
}
.budget-bg{
  animation: budget_animate 3s;
  position: absolute;
  top: 100px;
  width: 600px;
  height: 400px;
  background: url(../images/budget/budget_bg.jpg) no-repeat;
  background-size: 100% 100%;
  border-radius: 5px;
  box-shadow: -5px -5px 5px rgba(165, 204, 175, 0.55);
}
.budget{
  position: relative;
  height: 600px;
}
.budget-form{
  position: absolute;
  bottom: 100px;
  right: 0;
  width: 380px;
  padding: 40px;
  background: #fff;
  border: 1px solid #eee;
  box-shadow: 5px 5px 5px rgba(165, 204, 175, 0.55);
  box-sizing: border-box;
}
.budget-form input{
  width: 300px;
  box-sizing: border-box;
  margin-bottom: 20px;
  height: 35px;
  padding: 5px;
  outline: none;
  border: 1px solid #999;
}
.budget-location{
  margin-bottom: 20px;
}
.budget-form input[type = 'button'] {
  margin-top: 20px;
  background: #01af63;
  color: #fff;
  border: none;
}
.budget-form select{
  outline: none;
  margin-right: 20px;
  width: 100px;
}
