.budget-wrap{
  width: 100%;
}
.budget{
  width: 1220px;
  margin: 0 auto;
  padding-bottom: 40px;
}
.budget-bg{
  top: 0;
  width: 1220px;
  height: 80px;
  background: url(../images/budget/head_bg.png) no-repeat;
  background-size: 100% 100%;
}
.budget{
  position: relative;
  height: 600px;
}
.budget-form{
  width: 1220px;
  margin: 0 auto;
  margin-top: 60px;
}
.budget-form input[type = 'button'] {
    margin: 0 auto;
    margin-top: 20px;
    background: #01af63;
    color: #fff;
    border: none;
    width: 550px;
    height: 30px;
    outline: none;
}
.budget-tit{
    margin-bottom: 20px;
    line-height: 30px;
}
.budget-base{
    font-size: 20px;
    font-weight: bold;
}
.budget-count{
    display: inline-block;
    float: right;
    padding: 0 20px;
}
.budget-con{
    float: right;
    width: 550px;
}
.budget-item{
    margin-bottom: 20px;
}
.budget-key{
    margin-right: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #01a569;
}
.budget-rightBg{
    float: left;;
    width: 600px;
    height: 432px;
    background: url(../images/budget/budget_bg.jpg);
    background-size: 100% 100%;
}
