.carousel{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.carousel-itemImg{
    float: left;
}
.carousel-itemBtn-ul{
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 1;
}
.carousel-itemBtn{
    float: left;
    background: rgb(255, 255, 255);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 15px;
    cursor: pointer;
}
.carousel-itemBtn:last-child{
    margin-right: 0;
}
.carousel-btnActive{
    transition: background 1s ease;
    background: rgba(65, 56, 56, 0.59);
    box-shadow: 0 0 5px rgba(14, 176, 176, 0.48);
}
