.familyCase-wrap{
  width: 100%;
  background: #f8f8f8;
}
.familyCase{
  width: 1220px;
  margin: 0 auto;
  padding: 40px 0;
}
.familyCase-item{
  position: relative;
  width: 100%;
  height: 450px;
  margin-bottom: 20px;
  cursor: pointer;
}
.familyCase-item img{
  width: 100%;
  height: 100%;
}
.familyCase-info{
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px;
  padding-left: 20px;
  padding-top: 80px;
  background: #fff;
  box-sizing: border-box;
}
.familyCase-tit{
  font-size: 18px;
  font-weight: bold;
}
.familyCase-img1{
  position: absolute;
  top: 0;
  left: 200px;
  width: 150px;
  height: 200px;
  background: #000;
}
.familyCase-img2{
  position: absolute;
  top: 0;
  left: 352px;
  width: 231px;
  height: 163px;
  background: #000;
}
.familyCase-img3{
  position: absolute;
  top: 0;
  right: 0;
  width: 635px;
  height: 450px;
  background: #000;
}
.familyCase-img4{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 350px;
  height: 248px;
  background: #000;
}
.familyCase-img5{
  position: absolute;
  bottom: 0;
  left: 352px;
  width: 231px;
  height: 285px;
  background: #000;
}
.familyCase-pagination{
  margin-top: 40px;
}
