.index-wrap{
    width: 100%;
}
.index{
    width: 1220px;
    margin: 0 auto;
}
.index-head{
    width: 100%;
    padding-top: 20px;
}
.index-section-title{
    margin-bottom: 15px;
    font-size: 24px;
    color: #333;
}
.index-section-childT{
    font-size: 12px;
    color: #999;
    margin-left: 10px;
}
/*********************index左侧apply**********************/
.index-applyArea{
    float: left;
}
.index-head-apply{
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #eee;
    box-sizing: border-box;
}
.index-head-applyBox{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #eee;
    box-sizing: border-box;
}
.index-head-applyItem{
    float: left;
    width: 25%;
    height: 100%;
    text-align: center;
    padding: 12px 20px;
    box-sizing: border-box;
    border-right: 1px solid #eee;
    cursor: pointer;
}
.index-head-applyBox .active{
    transition: color 0.3s;
    color: #01af63;
}
.index-head-applyItem:hover{
    transition: color 0.3s;
    color: #01af63;
}
.index-head-applyItem:last-child{
    border-right: none;
}
.index-head-applyBody{
    width: 100%;
    padding: 15px 20px;
    box-sizing: border-box;
}
.index-head-applyMsg{
    margin-bottom: 18px;
}
.index-head-applyForm{

}
.index-head-applyForm input{
    width: 100%;
    border: 1px solid #eee;
    outline: none;
    height: 35px;
    margin-bottom: 18px;
    padding: 0 10px;
    box-sizing: border-box;
}
.index-head-applyForm input[type="submit"]{
    color: #fff;
    background: #01af63;
}
.index-head-applyBottom{
    padding: 10px 0;
}
.index-head-applyBottom li{
    line-height: 20px;
}
.index-carouselArea{
    position: relative;
    float: right;
    width: 900px;
    height: 347px;
    border: 1px solid #eee;
    box-sizing: border-box;
}
/*********************index装修流程Progress**********************/
.index-progressArea{
    margin-top: 60px;
}
.index-progress{
}
.index-progress-item{
    float: left;
    width: 118px;
    height: 118px;
    margin-right: 17.5px;
    text-align: center;
    border: 1px solid #eee;
    cursor: pointer;
}
.index-progress-item:last-child{
    margin-right: 0;
}
.index-progress-item:hover{
    background: rgb(56, 235, 149);
    transition: all .5s ease;
    color: #fff;
}
/*********************index效果图Rendering**********************/
.index-renderingArea{
    margin-top: 60px;
}
.index-rendering{
}
.index-rendering-item{
    float: left;
    width: 152.5px;
    height: 152.5px;
    text-align: center;
    color: #000;
    background: #F8F8F8;
    cursor: pointer;
}
.index-rendering-item:hover{
    transition: color .5s ease;
    color: #45c7af;
}
.index-rendering-item img{
    margin-top: 20px;
}
.index-rendering-item p{
    margin-top: 5px;
}
/*********************index家装案例Case**********************/
.index-caseArea{
    margin-top: 60px;
}
.index-case{
}
.index-case-item{
    position: relative;
    float: left;
    width: 260px;
    height: 300px;
    margin-right: 60px;
    border: 1px solid #eee;
    box-sizing: border-box;
}
.index-case-item:last-child{
    margin-right: 0;
}
.index-case-item p{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    padding-left: 10px;
    line-height: 30px;
    color: #fff;
    background: rgba(17, 15, 16, 0.36);
    box-sizing: border-box;
}
/*********************index热点新闻HotNews**********************/
.index-hotNewsArea{
    margin-top: 60px;
}
.index-hotNews{
    border-top: 1px solid #eee;
}
.index-hotNews-left{
    float: left;
    width: 410px;
    height: 347px;
    box-sizing: border-box;
}
.index-hotNews-center{
    float: left;
    width: 550px;
    height: 347px;
    padding-top: 15px;
    box-sizing: border-box;
}
.index-hotNews-centerItem{
    padding: 12px 20px;
}
.index-hotNews-centerItem a{
    display: block;
    line-height: 34px;
    font-size: 18px;
    color: #333;
}
.index-hotNews-right{
    float: left;
    width: 260px;
    height: 347px;
    border: 1px solid #eee;
    border-top: none;
    box-sizing: border-box;
}

/*********************index展会专题Exhibition**********************/
.index-exhibitionArea{
    margin-top: 60px;
    margin-bottom: 100px;
}
.index-exhibition-item{
    margin-right: 20.8px;
}
.index-exhibition-item:last-child{
    margin-right: 0;
}
