.nav-wrap{
    width: 100%;
    border-bottom: 2px solid #01af63;
}
.nav{
    width: 1220px;
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
}
.nav-item{
    display: inline-block;
    height: 100%;
    padding: 0 30px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.nav-item:hover{
    background: #01af63;
    transition: all .5s;
    cursor: pointer;
}
.nav-item:hover a{
    color: #fff;
    transition: all .5s;
}
.nav-item-active{
    background: #01af63;
    transition: all .5s;
}
.nav-item-active a{
    color: #fff;
}
