.onlineDemo-wrap{
  width: 100%;
}
.onlineDemo{
  width: 1220px;
  margin: 0 auto;
  padding: 40px 0;
}
.onlineDemo-img{
  transition: all .5s;
}
.onlineDemo-img:hover{
  transform: scale(1.1, 1.1);
  box-shadow: 0 0 20px rgba(21, 19, 22, 0.64);
}
.onlineDemo-col1,
.onlineDemo-col2,
.onlineDemo-col3{
  float: left;
  width: 290px;
  margin-right: 20px;
}
.onlineDemo-col4{
  float: left;
  width: 290px;
}
.onlineDemo-item{
  margin-top: 20px;
  cursor: pointer;
  border: 1px solid #eee;
  box-sizing: border-box;
}
.onlineDemo-title{
  line-height: 30px;
}
.onlineDemo-pagination{
  margin-top: 40px;
}
.onlineDemo-head{
  border: 1px solid #eee;
}
.onlineDemo-selected{
  height: 45px;
  line-height: 45px;
  padding-left: 10px;
  border-bottom: 1px solid #eee;
}
.onlineDemo-selected i {
  padding: 0 20px;
}
.onlineDemo-headBox{
  height: 40px;
  line-height: 40px;
  border-bottom: 1px dotted #eee;
}
.onlineDemo-headBox:last-child{
  border: none;
}
.onlineDemo-headBox span{
  display: inline-block;
  padding: 0 20px;
}
.onlineDemo-headerItem{
  cursor: pointer;
}
.bg_eee{
  background: #eaeaea;
}
.color_bold{
  font-weight: bold;
  color: #000;
}
