.searchBar-wrap{
    width: 100%;
}
.searchBar{
    width: 1220px;
    margin: 0 auto;
    padding: 20px 0;
}
.searchBar-img{
    float: left;
    width: 320px;
    height: 70px;
    margin-right: 95px;
}
.searchBar-img img{
    width: 100%;
    height: 100%;
}
.searchBar-from{
    float: left;
    width: 500px;
    height: 40px;
    margin-top: 13px;
    border: 2px solid #01af63;
}
.searchBar-select{
    float: left;
    width: 100px;
    height: 100%;
    line-height: 40px;
    background: #eee;
    text-align: center;
    color: #999;
}
.searchBar-input{
    width: 300px;
    height: 100%;
    border: none;
    padding-left: 10px;
    outline: none;
    box-sizing: border-box;
}
.searchBar-btn{
    width: 100px;
    height: 100%;
    border: none;
    outline: none;
    background: #01af63;
    color: #fff;
}
.searchBar-ad{
    float: right;
    width: 230px;
    height: 70px;
}
