<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/assets/font-awesome/css/font-awesome.css">
    <script type="text/javascript" src="http://api.map.baidu.com/getscript?v=2.0&ak=3cyrYmSkSH4kVgH4RYe1SC4cFOAbURdx&services=&t=20160401164342"></script>
  </head>
  <body>
    <div id="main">
      <div style="font-size: 40px ; color: #36bad1; text-align: center; margin-top: 300px">
        <i class="fa fa-spin fa-spinner"></i>
      </div>
    </div>
    <script src="/assets/app/js/app.min.js"></script>
  </body>
</html>
